// import all of partials first
// order is important
@import "modules/reset";
@import "modules/vars";
@import "modules/queries";
@import "modules/homepage";
@import "modules/video";
@import "modules/audio";
@import "modules/404";

@import "modules/defaults";

#container {
    margin: 0;
    background-color: $light;
    width: 100vw;
}

  
.mainNav {
    padding: 8vh 5vw;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
}

.mainNav li {
    margin-right: 25px;
}

.mainNav li a {
    color: $green;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.mainNav li a:hover {
    background-color: $yellow;
    color: $dark;
    border-radius: 25px;
}


.tips {
    margin: 10vh 5vw 10vh 5vw;
}

.tips h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tips p {
    line-height: 28px;
}


.footerNav {
    margin-top: 10vh;
    padding: 8vh 5vw;
}

.footerNav li {
    margin-bottom: 20px;
}

.footerNav li a {
    color: $green;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.footerNav li a:hover {
    background-color: $yellow;
    color: $dark;
    border-radius: 25px;
}