<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<title>AV Accessibility Research</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<main id="container">
            <h1 class="hidden">Audio and Video Accessibility Research Project</h1>

            <header>
                <nav>
                  <h2 class="hidden">Main navigation</h2>
                  <ul class="mainNav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/audio">Audio</a></li>
                  </ul>
                </nav>
            </header>

            <section id="audioCon">
				<h2 class="hidden">Audio container</h2>
                <audio controls>
					<source src="/audio/the-haunting-of-bly-manor-trailor.mp3" type="audio/mp3">
					<source src="/audio/the-haunting-of-bly-manor-trailor.ogg" type="audio/ogg">
				</audio>
            </section>

            <section id="audioScript">
                <h2>Audio Transcript</h2>
                <button>Expand/Hide</button>
                <ul id="transcript">
                    <li>[00:00:00] (A girl singing) We lay my love and I</li>
                    <li>[00:00:04] I have a story.</li>
                    <li>[00:00:06] (A girl singing) Beneath the weeping willow</li>
                    <li>[00:00:10] A ghost's story.</li>
                    <li>[00:00:23] (A girl singing) Singing "Oh willow waly"</li>
                    <li>[00:00:24] The Haunting of Bly Manor Producer</li>
                    <li>[00:00:27] (A girl singing) By the tree that weeps with me</li>
                    <li>[00:00:33] Invites you to visit</li>
                    <li>[00:00:32] (A girl singing) We lay my love and I</li>
                    <li>[00:00:37] (A girl singing) Beneath the weeping willow</li>
                    <li>[00:00:41] (A girl singing) But now alone I lie</li>
                    <li>[00:00:42] A new home</li>
                    <li>[00:00:46] (A girl singing) Oh willow I die</li>
                    <li>[00:00:52] (A girl singing)</li>
                    <li>[00:00:56] (ghost sound approaching)</li>
                    <li>[00:01:01] Shh!</li>
                    <li>[00:01:03] The Haunting of Bly Manor</li>
                    <li>[00:01:06] Netflix eclusive October ninth</li>
                </ul>
            </section>

            <footer>
                <nav>
                    <h2 class="hidden">Footer navigation</h2>
                    <ul class="footerNav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/video">Video</a></li>
                        <li><a href="/audio">Audio</a></li>
                    </ul>
                </nav>
            </footer>
            
        </main>
		<script src="/js/main.js" type="module" defer></script>
	</body>

</html>