<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<title>AV Accessibility Research</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<main id="container">
            <h1 class="hidden">Audio and Video Accessibility Research Project</h1>

            <header>
                <nav>
                  <h2 class="hidden">Main navigation</h2>
                  <ul class="mainNav">
                    <li><a href="/">Home</a></li>
                    <li><a href="video">Video</a></li>
                    <li><a href="audio">Audio</a></li>
                  </ul>
                </nav>
            </header>

            <section id="introduction">
                <h2>Welcome to Accessibility Research</h2>
                <p>This project focuses on web accessibility and making media as avaliable to everyone as possible.</p>
                <p>There are custom video and audio controls that also accept keyboard navigating.</p>
                <p>You can also expand media transcription and video subtitle in English.</p>
            </section>

            <section class="tips">
                <h3>Tips:</h3>
                <p>Hit your Tab key to navigate through buttons.</p>
                <img src="/images/home-background.jpg" alt="a painted sentence on the floor, saying'passion led us here.' feets of two people also on the floor from the watcher's angle">
            </section>
            

            <footer>
                <nav>
                    <h2 class="hidden">Footer navigation</h2>
                    <ul class="footerNav">
                        <li><a href="/">Home</a></li>
                        <li><a href="video">Video</a></li>
                        <li><a href="audio">Audio</a></li>
                    </ul>
                </nav>
            </footer>
            
        </main>
		<script src="js/main.js" type="module" defer></script>
	</body>

</html>