#introduction {
    margin: 0 5vw;;
}

#introduction h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

#introduction p {
    line-height: 28px;
}

#introTips {
    margin-top: 25px;
    margin-bottom: 10vh;
}

#introduction img {
    max-width: 90vw;
    filter: brightness(0.9);
}