#introduction {
    margin: 0 5vw;;
}

#introduction h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

#introduction p {
    line-height: 28px;
}


.tips img {
    max-width: 90vw;
    margin-top: 7vh;
    filter: brightness(0.9);
}